@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

/* CSS Document */

#animation_container{
	background-color:#FFFFFF; 
	width:100%; 
	height:100%;
	position: fixed;
}

#dom_overlay_container{
	pointer-events:none;
	overflow:hidden; 
	width:120%; 
	height:120%; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	display: block;
}

#canvas	{
	width:150%;
	height:150%;
	left:-12%;
	top:-9%;
	position: absolute;
	display: block; 	
	background-color:#FFFFFF;
}

.reading{
	top:50%;
	left:50%;
	padding: 10px;
	font-family: 'Noto Sans TC', serif;
	font-size: 16px;
	letter-spacing: 3px;
	border: none;
	border-radius: 5px;
	text-align:center;
	position: fixed;
	z-index: 8;
	transition: all 0.5s;
	cursor: pointer;
}

.reading::after {
	content: ''
}

.handsome{
	width: auto;
	height: auto;
	max-width: 60%;
	max-height: 60%;
	position: fixed;
	z-index: 4;
	bottom: 50px;
	right:50px;
}

.hyper {
	display:block;
	width:500px;
	height: 20px;
	top: 30px;
	float:right; /*整個區塊向右對齊*/
	padding-bottom: 30px;
	margin-top: 40px;
	margin-right: 50px;
}

.menu, .menu li{
	list-style: none;	/*將默認的列表符號去掉*/
	padding:0px;	/*將默認的內邊去掉*/
	margin: 0px;	/*將默認的外邊去掉*/
}

.menu li {
	float:left;		/*往左浮動*/
}

.menu li a {
	font-family: 'cwTeXFangSong', 'Serif';
	letter-spacing: 2px;
	color:#FFFFFF;
	font-size: 20px;
	display:block;	/*將連結設為塊狀元素*/
	width: 120px; /*設置寬度*/
	height:50px; /*設定寬度*/
	line-height: 50px; /*設定行高，將行高和高度設置同一個值，可以讓單行文本垂直居中*/
	text-align: center; /*居中對齊文字*/
	/*padding: 5px 10px; 	先調整上下，再調整左右*/  
	text-decoration: none; 	/*去掉斜線*/
}

.menu li a:hover{
	color:#FBE066;
}

.site-header {
	width: 100%;
	height: 100px;
	background-color: #343434;
	position: fixed;
	top: 0px;
	z-index: 5;
}
.site-main {
	width: 100%;
	height: 100%;
	z-index: 1;
}
	
.site-footer {
	width: 100%;
	height: 50px;
	background-color: #343434;
	position: fixed;
	bottom: 0;
	z-index: 5;	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
}
.subject {
	font-family: 'cwTeXFangSong', 'Serif';
	font-size: 34px;
	letter-spacing: 4px;
	color: #FFFFFF;
	position: absolute;
	top: 20px;
	left: 58px;
}
.subject-En {
	font-family: 'Times New Roman', 'serif';
	font-size: 16px;
	font-weight: lighter;
	color: #FFFFFF;
	position: absolute;
	top: 60px;
	left: 60px;
}
.copyright {
	font-family: 'Noto Sans TC', serif;
	font-size: 8px;
	font-weight: 100;
	color:#969696;
	letter-spacing: 2px;
	line-height: 15px;
	padding-left: 55px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 5px;
	
}