@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* CSS Document */
.previous a span{
	color: #FFFFFF;
	font-size: 5vmin;
	position: fixed;
	height: 11.5vh;
	line-height: 11.5vh;
	left: 50vw;
	padding-left: 10px;
	text-decoration: none;
	transition: all 0.5s ;
	z-index: 9;
}

.previous a span:hover{
	text-shadow: 0 0 30px white, 0 0 10px white, 0 0 0.5px white, 0 0 0.5px white;
}


.next a span{
	color: #FFFFFF;
	font-size: 5vmin;
	position: fixed;
	height: 11.5vh;
	line-height: 11.5vh;
	left: 55vw;
	padding-left: 10px;
	text-decoration: none;
	transition: all 0.5s ;
	z-index: 8;
}

.next a span:hover{
	text-shadow: 0 0 30px white, 0 0 10px white, 0 0 0.5px white, 0 0 0.5px white;
}

.footer {
	width: 100vw;
	height: 11.5vh;
	background-color: #101010;
	position: fixed;
	bottom: 0;
	z-index: 8;
}

.main {
	width: 100vw;
	background-color: black;
	height: 100vh;
	position: fixed;
	z-index: 1;
}

.index a{
	color: #FFFFFF;
	font-family: 'cwTeXFangSong', 'Serif';
	letter-spacing: 2px;
	font-size: 3vmin;
	display:block;	/*將連結設為塊狀元素*/
	height:11.5vh; /*設定寬度*/
	line-height: 11.5vh; /*設定行高，將行高和高度設置同一個值，可以讓單行文本垂直居中*/
	text-align: center; /*居中對齊文字*/
	text-decoration: none; 	/*去掉斜線*/
	position: absolute;
	right: 6vw;
}
.index a:hover{
	color:#FBE066;
}