@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* CSS Document */
.main {
	width: 100vw;
	background-color: black;
	height: 100vh;
	position: fixed;
	z-index: 1;
}

.footer {
	width: 100vw;
	height: 11.5vh;
	position: fixed;
	bottom: 0;
	z-index: 8;
}

.title a{
	color: #FFFFFF;
	font-family: 'cwTeXFangSong', 'Serif';
	letter-spacing: 2px;
	font-size: 3vmin;
	display:block;	/*將連結設為塊狀元素*/
	height:11.5vh; /*設定寬度*/
	line-height: 11.5vh; /*設定行高，將行高和高度設置同一個值，可以讓單行文本垂直居中*/
	text-align: center; /*居中對齊文字*/
	text-decoration: none; 	/*去掉斜線*/
	position: absolute;
	left: 30vw;
}

.title a:hover{
	color:#FBE066;
}

.nex a{
	color: #FFFFFF;
	font-family: 'cwTeXFangSong', 'Serif';
	letter-spacing: 2px;
	font-size: 3vmin;
	display:block;	/*將連結設為塊狀元素*/
	height:11.5vh; /*設定寬度*/
	line-height: 11.5vh; /*設定行高，將行高和高度設置同一個值，可以讓單行文本垂直居中*/
	text-align: center; /*居中對齊文字*/
	text-decoration: none; 	/*去掉斜線*/
	position: absolute;
	left: 55vw;
}

.nex a:hover{
	color:#FBE066;
}

.index a{
	color: #FFFFFF;
	font-family: 'cwTeXFangSong', 'Serif';
	letter-spacing: 2px;
	font-size: 3vmin;
	display:block;	/*將連結設為塊狀元素*/
	height:11.5vh; /*設定寬度*/
	line-height: 11.5vh; /*設定行高，將行高和高度設置同一個值，可以讓單行文本垂直居中*/
	text-align: center; /*居中對齊文字*/
	text-decoration: none; 	/*去掉斜線*/
	position: absolute;
	right: 6vw;
}
.index a:hover{
	color:#FBE066;
}